:root {
	--accent-color: #d6d4d4;
}

.App {
	text-align: center;
}

.App-header {
	background-color: #f8f8fa;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.searchbar-wrapper {
	display: flex;
	gap: 0.5rem;
}

.searchbar-input {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.25rem;
	border-radius: 0.25rem;
	border: none;
	box-shadow: 0 0 0 1px #222;
	outline: none;
}

.searchbar-input:focus-visible {
	box-shadow: 0 0 0 2px #008dd3;
}

button {
	appearance: none;
	border: none;
	background-color: #223462;
	padding: 0.25rem 0.5rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.25rem;
	box-shadow: 0 0 0 1px #008dd3;
	font-weight: bold;
	font-family: monospace;
}

button:hover,
button:focus-visible {
	background-color: #18a5ec;
	cursor: pointer;
}

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 4rem;
	min-width: 98vw;
	max-width: 98vw;
	background-color: var(--accent-color);
	padding: 0rem 5rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 0.125rem 0.25rem 0.1rem #2228;
}

header > span {
	font-size: 1.75rem;
	font-weight: bold;
	color: white;
	padding-left: 1rem;
	padding-right: 1rem;
}

.flex-wrapper {
	display: flex;
	flex-direction: row;
}

.flex-row {
	/* display: flex; */
	flex-direction: column;
	padding: 0.5rem;
	gap: 1rem;
	width: calc(100% - 1rem);
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex: 0.5;
	padding: 0.5rem;
	gap: 1rem;
	max-width: 49vw;
}

.flex-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #3338;
	min-height: 45rem;
	max-height: 45rem;
	max-width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
}

.flex-item > h2 {
	background-color: var(--accent-color);
	width: 100%;
	color: rgb(0, 0, 0);
	padding: 1rem 0rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.flex-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	/* min-height: 100%; */
	max-width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
	overflow-y: auto;
	padding: 2rem;
}

.Timeline {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.space {
	width: 20px;
	height: auto;
	display: inline-block;
}

input[type=text] {
	width: 100%;
	height: 20px;
	padding: 10px 4px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 4px;
}

input[type=month] {
	/* width: 100%; */
	height: 20px;
	padding: 10px 4px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 4px;
}

.Analytics rect, h1{
	color: #223462;
}