/*<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
*/
.card {
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: rgb(18, 207, 228);
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
/*</style>
</head>
<body>

<h2 style="text-align:center">Legislation Profile</h2>

<div class="card">
  <h1>import legislation name here</h1>
  <t class="title">import main supporter of bill here</t>
  <p>proposal date</p>
  <p>successful or not</p>
</div>

</body>
</html>
*/